
.badge {
    margin: -2px;
}

.speed-dial-buttons {
    margin-left: -28px;
}

.speed-dial-buttons a {
    width:56px;
    height:56px;
}

[v-cloak] {
    display: none;
}

.list-block textarea {
    background-color: rgba(0, 0, 0, .03);
}

.stronghead {
    font-size:20px;
    font-weight: 500;
}

.infocollabel {
    display:inline-block;
    width:7.7em;
    line-height:1.3em;
}

.infoby {
    font-size: 0.75em;
    bottom: 0.1em;
    position: absolute;
    line-height: 1em;
}

.smalllabel {
    font-size: 0.85em;
}

svg {
  fill: currentColor;
}


/* always present */
.expand-transition {
  transition: all .3s ease;
  height: 52px;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}

.infoli .item-content, .infoli .item-inner { min-height:auto;}


.medien li.list-group-title {
    padding-top:1em;
    padding-bottom:1em;
}



.layout-white .content-block-title,
.content-block-title {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: none;
}

.numnum {
    font-size:1.5em;
    line-height: 1em;
}
