<?xml version='1.0' encoding='utf-8'?>
<widget id="de.rblumenthal.fotocode" version="2.0.18" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>appgeordnet</name>
    <description>
        Barcode lesen, Fotos zuordnen und an appgeordnet.de zur weiteren Verarbeitung senden
    </description>
    <author email="info@rblumenthal.de" href="http://rblumenthal.de">
        Ralf Blumenthal
    </author>
    <gap:platform name="android" />
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.0.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />

    <!-- android -->
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AutoHideSplashScreen" value="true" />
<!--    <preference name="android-windowSoftInputMode" value="stateUnspecified|adjustUnspecified" /> -->

    <!-- ios -->
    <preference name="KeyboardShrinksView" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />

    <gap:plugin name="cordova-plugin-file" source="npm" version="4.1.1" />
    <gap:plugin name="cordova-plugin-device" source="npm" version="1.1.1" />
    <gap:plugin name="cordova-plugin-camera" source="npm" version="2.1.0" />
    <gap:plugin name="phonegap-plugin-barcodescanner" source="npm" version="4.1.0" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" version="2.1.1" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="3.2.0" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.5.0" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" version="1.2.0" />

    <gap:plugin name="cordova-plugin-dialogs" source="npm" version="1.2.0" />
    <gap:plugin name="cordova-plugin-media-capture" source="npm" version="1.2.0" />
    <gap:plugin name="ionic-plugin-keyboard" source="npm" version="1.0.8" />
    <gap:plugin name="cordova-plugin-appversion" source="npm" version="1.0.0" />
    <gap:plugin name="cordova-plugin-fileopener" source="npm" version="1.0.4" />
    <gap:plugin name="cordova-open" source="npm" version="1.0.9" />

    <gap:plugin name="cordova-plugin-webintent2" source="npm" version="1.0.1" />

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>        
    
    <icon src="icon.png" />
    <!-- Define app icon for each platform. -->
    <icon src="images/icon.png" />
    <icon src="images/iconapp1200.png" gap:platform="android"    gap:density="ldpi" />
    <icon src="images/iconapp1200.png" gap:platform="android"    gap:density="mdpi" />
    <icon src="images/iconapp1200.png" gap:platform="android"    gap:density="hdpi" />
    <icon src="images/iconapp1200.png" gap:platform="android"    gap:density="xhdpi" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="images/screen-ldpi-landscape.png"  gap:platform="android" gap:qualifier="land-ldpi" />
    <gap:splash src="images/screen-mdpi-landscape.png"  gap:platform="android" gap:qualifier="land-mdpi" />
    <gap:splash src="images/screen-hdpi-landscape.png"  gap:platform="android" gap:qualifier="land-hdpi" />
    <gap:splash src="images/screen-xhdpi-landscape.png" gap:platform="android" gap:qualifier="land-xhdpi" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="images/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="images/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="images/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="images/screen-xhdpi-portrait.png" />
    <gap:splash src="images/screen-ldpi-portrait.png" />
    
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<!--    
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
-->    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
