<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>appgeordnet</title>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script>
        var isAndroid = (Framework7.prototype.device.android === true);
        var isIos = (Framework7.prototype.device.ios === true);
        if (! isAndroid && ! isIos ) {
            isAndroid = false;
            isIos = !isAndroid;
        }
        (function () {
            if (isAndroid) {
              Dom7('head').append(
                      '<link rel="stylesheet" href="css/framework7.material.min.css">' +
                      '<link rel="stylesheet" href="css/framework7.material.colors.min.css">' +
                      '<link rel="stylesheet" href="css/appgeordnet.css">'+
                      '<link rel="stylesheet" href="css/android.css">'
              );
            }
            else {
              Dom7('head').append(
                      '<link rel="stylesheet" href="css/framework7.ios.css">' +
                      '<link rel="stylesheet" href="css/framework7.ios.colors.min.css">'+
                      '<link rel="stylesheet" href="css/appgeordnet.css">'+
                      '<link rel="stylesheet" href="css/ios.css">'
              );
            }
        })();
    </script>
  </head>
  <body class="theme-{{colortheme}} layout-white" id="app" v-cloak>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <div class="list-block">
          <ul>
              <li v-if="isandroid" ><a href="#quickscan" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner"> 
                  <div class="item-title">
                      <i class="icon icon-camera"></i>
                      Neuer Vorgang</div>
                </div>
              </div></a></li>
              <li v-if="isios"><a href="" @click="neuerVorgangFoto()" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-camera"></i>
                              Foto</div>
                      </div>
                  </div></a></li>
              <li v-if="isios"><a href="" @click="neuerVorgangVideo()" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-videocam"></i>
                              Video</div>
                      </div>
                  </div></a></li>
              <li v-if="isios"><a href="" @click="neuerVorgangAudio()" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-mic"></i>
                              Audio</div>
                      </div>
                  </div></a></li>
            <li v-if="sets.length && loggedin" ><a @click="senden()" href="#" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                      <i class="icon icon-cloud-upload"></i>
                      Senden</div>
                </div>
              </div></a></li>

              <li v-if="loggedin" ><a @click="syncUserInfo" href="#" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-feed"></i>
                              Synchronisieren</div>
                      </div>
                  </div></a></li>

              <li><a @click="appinfo" href="#" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-info"></i>
                              Info</div>
                      </div>
                  </div></a></li>

              <li><a @click="roadmap" href="#" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-info"></i>
                              Roadmap</div>
                      </div>
                  </div></a></li>

              <li v-if="loggedin"><a @click="einstellungen" href="#" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-info"></i>
                              Einstellungen</div>
                      </div>
                  </div></a></li>

              <li v-if="loggedin"><a @click="applogs" href="#" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-info"></i>
                              Logs</div>
                      </div>
                  </div></a></li>

              <li v-if="isadmin" ><a href="#admin" class="item-link close-panel">
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title">
                              <i class="icon icon-cog"></i>
                              Admin</div>
                      </div>
            <li v-if="loggedin"><a @click="logout" href="#" class="close-panel">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                      <i class="icon icon-cross"></i>
                      Logout</div>
                </div>
              </div></a></li>
            <li v-else ><a href="#login" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                      <i class="icon icon-user"></i>
                      Login</div>
                </div>
              </div></a></li>
          </ul>
            <div class="infoby">
            Version {{appversion}}<br>
            Software by cesart - cesar@cesart.de
            </div>
        </div>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
          
        <!-- Pages -->
        <div class="pages ">
          <!-- Index page -->
          <div data-page="index" class="page page-index toolbar-fixed navbar-fixed">
              
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner" v-cloak>
                <div class="">appgeordnet</div>
                <div class="right">
<!--                    <a href="#quickscan" class="link icon-only"><i class="icon icon-camera-light"></i></a> -->
                    <a v-if="isios" href="#" @click="neuerVorgangFoto()" class="link icon-only">
                        <i class="icon icon-camera"></i>
                    </a>
                    <a v-if="isios" href="#" @click="neuerVorgangVideo()" class="link icon-only">
                        <i class="icon icon-videocam"></i>
                    </a>
                    <a v-if="isios" href="#" @click="neuerVorgangAudio()" class="link icon-only">
                        <i class="icon icon-mic"></i>
                    </a>
                    <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                </div>
              </div>
            </div>
              <!-- Speed Dial Wrap -->
              <div v-if="isandroid" class="speed-dial">
                  <!-- FAB inside will open Speed Dial actions -->
                  <a href="#" class="floating-button">
                      <!-- First icon is visible when Speed Dial actions are closed -->
                      <i class="icon icon-plus"></i>
                      <!-- Second icon is visible when Speed Dial actions are opened -->
                      <i class="icon icon-close"></i>
                  </a>
                  <!-- Speed Dial Actions -->
                  <div class="speed-dial-buttons">
                      <a href="#" @click="neuerVorgangFoto()" class="close-speed-dial" >
                          <i class="icon icon-cameraalt-light"></i>
                      </a>
                      <a href="#" @click="neuerVorgangVideo()" class="close-speed-dial">
                          <i class="icon icon-videocam-light"></i>
                      </a>
                      <a href="#" @click="neuerVorgangAudio()" class="close-speed-dial">
                          <i class="icon icon-mic-light"></i>
                      </a>
                  </div>
              </div>

            <div class="toolbar toolbar-bottom ">
              <div class="toolbar-inner" v-cloak>
                  <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                  <a v-if="isios && loggedin" class="link" @click="logout">
                      <i class="icon icon-cross"></i>&nbsp;Logout&nbsp;&nbsp;
                  </a>
              </div>
            </div>

            <!-- Scrollable page content-->
            <div class="page-content">
            <div class="content-block-title infosection" v-cloak>

                <div class="row">
                    <div class="col-50">
                        <div class="row" style="text-align: center;">
                            <div class="col-50">
                                <span class="numdate">{{lastsent}}</span>
                            </div>
                            <div class="col-50">
                                <span class="numnum">{{numsets}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="row" style="text-align: center;">
                            <div class="col-33">
                                <span class="numnum">{{numfotos}}</span>
                            </div>
                            <div class="col-33">
                                <span class="numnum">{{numvideos}}</span>
                            </div>
                            <div class="col-33">
                                <span class="numnum">{{numaudios}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <div class="row" style="text-align: center;">
                            <div class="col-50">
                                <span class="numtext">letzter Versand</span>
                            </div>
                            <div class="col-50">
                                <span class="numtext">
                                    <span v-if="numsets==1">Vorgang</span>
                                    <span v-else>Vorgänge</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="row" style="text-align: center;">
                            <div class="col-33">
                                <span class="numtext">Foto<span v-show="numfotos!=1">s</span></span>
                            </div>
                            <div class="col-33">
                                <span class="numtext">Video<span v-show="numvideos!=1">s</span></span>
                            </div>
                            <div class="col-33">
                                <span class="numtext">Sound<span v-show="numaudios!=1">s</span></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="list-block media-list" v-cloak>
              <ul>
                  <li class="swipeout" v-for="ds in sets">
                    <div class="swipeout-content">
                      <a @click.stop.prevent="openVorgang($index)" class="item-link item-content">
                        <div class="item-media">
                            <img v-if="ds.fotos.length" :src="ds.fotos[0].uri" width="80">
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">{{ds.code}}</div>
                            <div class="item-after">
                                <span class="badge badge-media bg-{{colortheme}}">
                                    {{ds.fotos.length}} / {{ds.videos.length}} / {{ds.audios.length}}
                                    <br>
                                    {{ mediasize($index) |b2MB }} MB

                                </span>
                            </div>
                          </div>
                          <div class="item-subtitle">{{ds.name}}</div>
                        </div>
                      </a>
                    </div>
                    <div class="swipeout-actions-right">
                        <a @click.stop.prevent="removeset($index)" class="swipeout-close bg-red" >
                            <i class="icon icon-bin-white"></i>
                         </a>
                         <a @click.stop.prevent="showForm($index)" class="swipeout-close bg-lightblue" >
                             <i class="icon icon-file-text2-white"></i>
                         </a>
                         <a @click.prevent="setbarcode($index)" class="swipeout-close bg-lightgreen" >
                             <i class="icon icon-price-tag-white"></i>
                         </a>
                   </div>
                </li>
              </ul>
            </div>
            </div>
          </div>
          <!-- Medien Liste -->
          <div id="page-medien" class="page cached navbar-fixed medien" data-page="medien" >
                <!-- Top Navbar-->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="back link"> <i class="icon icon-back"></i><span>Schließen</span></a>
                        </div>
                        <div class="center">{{set.code}}</div>
                        <div class="right">
                            <a v-show="loggedin" @click.prevent="senden(-1)" class="link icon-only" >
                                <i class="icon icon-cloud-upload-white"></i>
                            </a>
                            <a @click.stop.prevent="removeset(-1)" class="link icon-only" >
                                <i class="icon icon-bin-white"></i>
                            </a>
                            <a @click.stop.prevent="showForm(-1)" class="link icon-only" >
                                <i class="icon icon-file-text2-white"></i>
                            </a>
                            <a @click.prevent="setbarcode(-1)" class="link icon-only" >
                                <i class="icon icon-price-tag-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="toolbar toolbar-bottom">
                    <div class="toolbar-inner" v-cloak>
                        <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                    </div>
                </div>
                <!-- Scrollable page content-->
                <div class="page-content">
                    <div class="content-block-title stronghead">
                        {{set.code}}
                        <span v-show="set.name.length" class="smalllabel"> - {{set.name}}</span>
                        <span v-show="bereichname.length" class="smalllabel"> - {{bereichname}}</span>
                    </div>
                    <div class="list-block">
                        <!-- Fotos-->
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">
                                    <a @click.stop.prevent="addfotos(-1)" >
                                    <div class="chip">
                                        <div class="chip-media">
                                            <i class="icon icon-camera"></i>
                                            Foto hinzufügen
                                        </div>
                                    </div>

                                    </a>
                                </li>
                                <li v-for="ds in set.fotos">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <a @click.stop.prevent="openFotos($index)" class="item-link">
                                                <img  :src="ds.uri" width="80">
                                            </a>
                                        </div>
                                        <div class="item-inner">
                                            <a @click.stop.prevent="openFotos($index)" class="item-link">
                                                <div class="item-title">{{ds.title}} ({{ds.size|b2MB}} MB)</div>
                                            </a>
                                            <a @click.stop.prevent="removeMedia('foto',$index)" class="" >
                                                <div class="item-after">
                                                    <i class="icon icon-bin"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Videos-->
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">
                                    <a @click.stop.prevent="addvideo(-1)" >
                                        <div class="chip">
                                            <div class="chip-media">
                                                <i class="icon icon-videocam"></i>
                                                Video hinzufügen
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li v-for="ds in set.videos">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <a @click.stop.prevent="openVideo($index)" class="item-link">
                                                <div class="item-title">{{ds.title}} ({{ds.size|b2MB}} MB)</div>
                                            </a>
                                            <a @click.stop.prevent="removeMedia('video',$index)" class="" >
                                                <div class="item-after">
                                                    <i class="icon icon-bin"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Audio-->
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">
                                    <a @click.stop.prevent="addaudio(-1)" >
                                        <div class="chip">
                                            <div class="chip-media">
                                                <i class="icon icon-mic"></i>
                                                Audio hinzufügen
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="item-content" v-for="ds in set.audios">
                                    <div class="item-inner">
                                        <a @click.stop.prevent="openAudio($index)" class="item-link">
                                            <div class="item-title">{{ds.title}} ({{ds.size|b2MB}} MB)</div>
                                        </a>
                                        <a @click.stop.prevent="removeMedia('audio',$index)" class="" >
                                            <div class="item-after">
                                                <i class="icon icon-bin"></i>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>

          <!-- Quickscan page -->
          <div class="page cached navbar-fixed" data-page="quickscan" id="quickscan" >
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"> <i class="icon icon-back"></i><span>Abbrechen</span></a>
                </div>
                <div class="center">Neuer Vorgang</div>
              </div>
            </div>
              <div class="toolbar toolbar-bottom">
                  <div class="toolbar-inner" v-cloak>
                      <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                  </div>
              </div>
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="list-block">
                <ul>
                <li v-if="hasbereiche">
                  <a href="#" class="item-link smart-select" data-back-on-select="true">
                    <select v-model="bereich">
                      <option v-for="option in bereiche.bereich | notEmpty" :value="$index">
                        {{ option }}
                      </option>
                    </select>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-spinner4"></i></div>
                      <div class="item-inner" style="display:flex;">
                        <!-- Select label -->
                        <div class="item-title">Bereich</div>
                        <!-- Selected value, not required -->
                        <div class="item-after"></div>
                      </div>
                    </div>
                  </a>
                </li>

                <li v-if="bereichablage" class="infoli">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">{{ bereichablage }}</div>
                        </div>
                    </div>
                </li>

                <li xv-show="!usecamera" transition="expand">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-price-tag"></i></div>
                        <div class="item-inner">
                            <div class="item-input">
                                <input v-bind:readonly="usecamera" v-bind:disabled="usecamera" type="text" v-model="set.code" placeholder="Vorgangsname / Info"/>
                            </div>
                        </div>
                    </div>
                </li>

                  <li v-show="validbarcode">
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-info"></i></div>
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" v-model="set.name" placeholder="Vorgangsinfo"/>
                        </div>
                      </div>
                    </div>
                  </li>

                <li id="bctyp" v-show="!usecamera" transition="expand">
                  <a href="#" class="item-link smart-select" data-back-on-select="true">
                    <select v-model="codeformat">
                      <option value="" ></option>
                      <option v-for="format in codeformats" :value="format">
                        {{ format }}
                      </option>
                    </select>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-list2"></i></div>
                      <div class="item-inner" style="display:flex;">
                        <div class="item-title">Barcodeformat</div>
                        <div class="item-after"></div>
                      </div>
                    </div>
                  </a>
                </li>

                  <li>
                    <label class="label-checkbox item-content">
                      <input v-model="usecamera" type="checkbox" name="bc-checkbox" />
                      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Barcode per Kamera</div>
                      </div>
                    </label>
                  </li>

                  <li v-show="hasform" transition="expand">
                    <label class="label-checkbox item-content">
                      <input v-model="showform" type="checkbox" name="bc-checkbox" />
                      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Formular anzeigen</div>
                      </div>
                    </label>
                  </li>

                </ul>
              </div>
              <div class="content-block">
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-50">
                    <input v-show="validquickscan"
                           @click.stop.prevent="scanfoto"
                           type="submit"
                           value="Weiter" class="button button-big button-fill color-{{colortheme}}"/>
                  </div>
                  <div class="col-25"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Barcode page -->
          <div class="page cached navbar-fixed" data-page="barcode" >
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a>
                </div>
                <div class="center">Vorgang bearbeiten</div>
              </div>
            </div>
              <div class="toolbar toolbar-bottom">
                  <div class="toolbar-inner" v-cloak>
                      <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                  </div>
              </div>
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="list-block">
                <ul>
                  <li>
                    <li xv-show="!usecamera" transition="expand">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-price-tag"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input v-bind:readonly="usecamera" v-bind:disabled="usecamera" type="text" v-model="set.code" placeholder="Vorgangsname / Info"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div v-show="validbarcode" class="item-content">
                      <div class="item-media"><i class="icon icon-info"></i></div>
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" v-model="set.name" placeholder="Vorgangsinfo" />
                        </div>
                      </div>
                    </div>
                  </li>
                <li id="bctyp2" v-show="!usecamera" transition="expand">
                  <a href="#" class="item-link smart-select" data-back-on-select="true">
                    <select v-model="codeformat">
                      <option value="" ></option>
                      <option v-for="format in codeformats" :value="format">
                        {{ format }}
                      </option>
                    </select>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-list2"></i></div>
                      <div class="item-inner" style="display:flex;">
                        <div class="item-title">Barcodeformat</div>
                        <div class="item-after"></div>
                      </div>
                    </div>
                  </a>
                </li>

                  <li>
                    <label class="label-checkbox item-content">
                      <input v-model="usecamera" type="checkbox" name="bc-checkbox" />
                      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Barcode per Kamera</div>
                      </div>
                    </label>
                  </li>

                </ul>
              </div>
              <div class="content-block">
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-50">
                    <input v-show="validbarcode"
                           @click.stop.prevent="scanbarcode"
                           type="submit" value="Weiter" class="button button-big button-fill color-{{colortheme}}"/>
                  </div>
                  <div class="col-25"></div>
                </div>
              </div>
            </div>
          </div>

          <!--Login Page -->
          <div data-page="login" class="page cached navbar-fixed">
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"> <i class="icon icon-back"></i><span>Abbrechen</span></a>
                </div>
                <div class="center">Login</div>
              </div>
            </div>
              <div class="toolbar toolbar-bottom">
                  <div class="toolbar-inner" v-cloak>
                      <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                  </div>
              </div>
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-user"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">Name</div>
                        <div class="item-input">
                          <input type="text" v-model="login.login" placeholder="Loginname"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-password"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">Passwort</div>
                        <div class="item-input">
                          <input type="password" v-model="login.password" placeholder="Passwort"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block">
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-50">
                    <input v-show="validlogin"
                           @click.stop.prevent="submitlogin"
                           type="submit"
                           value="Anmelden" class="button button-big button-fill color-{{colortheme}}"/>
                  </div>
                  <div class="col-25"></div>
                </div>
              </div>
            </div>
          </div>

          <div data-page="admin" class="page cached navbar-fixed">
                <!-- Top Navbar-->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a>
                        </div>
                        <div class="center">Admin</div>
                    </div>
                </div>
                <div class="toolbar toolbar-bottom">
                    <div class="toolbar-inner" v-cloak>
                        <span>&nbsp;&nbsp;{{user.name}} ({{ mediasize(-1) |b2MB }} MB)</span>
                    </div>
                </div>
                <div class="page-content">
                    <div class="list-block">
                        <ul>
                            <li>
                                <label class="label-radio item-content">
                                    <input id="liveserver" type="radio" value="production" v-model="useserver">
                                    <div class="item-media">
                                        <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Live-Server</div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="label-radio item-content">
                                    <input type="radio" value="test" v-model="useserver">
                                    <div class="item-media">
                                        <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Test-Server</div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/lockr.min.js"></script>
    <script type="text/javascript" src="js/lodash.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/camera.js"></script>
    <script type="text/javascript" src="js/file.js"></script>
    <script type="text/javascript" src="js/updater.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
