<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>appgeordnet</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  <body class="theme-teal layout-white" id="app">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-cover">
      <div class="content-block">
          
        <div class="list-block">
          <ul>
            <li><a href="#quickscan" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner"> 
                  <div class="item-title">Quickscan</div>
                </div>
              </div></a></li>
            <li><a v-on:click="notyet" href="#" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner"> 
                  <div class="item-title">Senden</div>
                </div>
              </div></a></li>


            <li v-if="loggedin"><a v-on:click="logout" href="#" class="close-panel">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Logout</div>
                </div>
              </div></a></li>
            <li v-else ><a href="#login" class="item-link close-panel">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Login</div>
                </div>
              </div></a></li>


          </ul>
        </div>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
          
        <!-- Pages -->
        <div class="pages navbar-fixed">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
              
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <!-- We have home navbar without left link-->
                <div class="center">appgeordnet&nbsp;<span v-if="loggedin"> - {{user.name}}</span></div>
                <div class="right">
                    <!-- Right link contains only icon - additional "icon-only" class-->
                    <a href="#quickscan" class="link icon-only">
                        <i class="icon icon-form-calendar"></i></a>
                    <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                    
                </div>
              </div>
            </div>
              
              
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="content-block-title">app-geordnet - Barcode und Foto App</div>
              <div class="content-block">
                <div class="content-block-innerx">
                  <ul>
                      <li>{{numsets}}
                        <span v-if="numsets==1"> Vorgang</span>
                        <span v-else> Vorgänge</span>
                      </li>
                      <li>{{numcodes}}
                        <span v-if="numcodes==1"> Barcode</span>
                        <span v-else> Barcodes</span>

                      </li>
                      <li>{{numfotos}}
                        <span v-if="numfotos==1"> Foto</span>
                        <span v-else> Fotos</span>
                          </li>
                    </ul>
                </div>
              </div>

            <div  v-if="sets.length" class="content-block-title">Vorgänge</div>
            <div class="list-block media-list">
              <ul>
                  <li class="swipeout" v-for="ds in sets">
                    <div class="swipeout-content">
                      <a v-on:click.stop.prevent="showFotos($index)" class="item-link item-content">
                        <div class="item-media">
                            <img v-bind:src="ds.fotos[0].uri" width="80"></div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">{{ds.name}}</div>
                            <div class="item-after">
                                <span class="badge bg-green">{{ds.fotos.length}}</span>
                            </div>
                          </div>
                          <div class="item-subtitle">{{ds.code}}</div>
                        </div>
                      </a>
                     <div class="swipeout-actions-right">
                        <a v-on:click.stop.prevent="removeset($index)" class="swipeout-close bg-red" >Löschen</a>
                      </div>
                    </div>
                </li>

              </ul>
            </div>

            </div>
          </div>


          <!-- Quickscan page -->
          <div class="page cached" data-page="quickscan" >
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a>
                </div>
                <div class="center">Quickscan</div>
              </div>
            </div>
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-name"></i></div>
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" v-model="set.name" placeholder="Vorgansname"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-password"></i></div>
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" v-model="set.code" placeholder="Barcode (manuell oder Scanner)"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <label class="label-checkbox item-content">
                      <input v-model="set.usecamera" type="checkbox" name="bc-checkbox" />
                      <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Barcode per Kamera</div>
                      </div>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="content-block">
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-50">
                    <input v-on:click.stop.prevent="scanfoto"
                           type="submit" value="Weiter" class="button button-big button-fill color-green"/>
                  </div>
                  <div class="col-25"></div>
                </div>
              </div>
            </div>
          </div>

          <!--Login Page -->
          <div data-page="login" class="page cached">
            <!-- Top Navbar-->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a>
                </div>
                <div class="center">Login</div>
              </div>
            </div>
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-name"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">Name</div>
                        <div class="item-input">
                          <input type="text" v-model="login.login" placeholder="Loginname"/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-password"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">Passwort</div>
                        <div class="item-input">
                          <input type="password" v-model="login.password" placeholder="Passwort"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block">
                <div class="row">
                  <div class="col-25"></div>
                  <div class="col-50">
                    <input v-show="validlogin" type="submit" onclick="vm.submitlogin();return false;" value="Anmelden" class="button button-big button-fill color-green"/>
                  </div>
                  <div class="col-25"></div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- Bottom Toolbar-->
        <!--                    
        <div class="toolbar">
          <div class="toolbar-inner">
              <a href="#" class="link">Link 1</a>
              <a href="#" class="link">Link 2</a></div>
        </div>
        -->          
      </div>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/lockr.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/camera.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
