i.icon.icon-videocam-light {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_videocam_white_24px.svg");
}

i.icon.icon-videocam {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_videocam_black_24px.svg");
}


i.icon.icon-cameraalt-light {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_camera_alt_white_24px.svg");
}

i.icon.icon-mic-light {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_mic_white_24px.svg");
}

i.icon.icon-mic {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_mic_black_24px.svg");
}

i.icon.icon-search {
    width: 24px;
    height: 24px;
    background-image: url("../img/search.svg");
}


i.icon.icon-camera-light {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Ccircle%20cx%3D'12'%20cy%3D'12'%20r%3D'3.2'%2F%3E%3Cpath%20d%3D'M9%202L7.17%204H4c-1.1%200-2%20.9-2%202v12c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V6c0-1.1-.9-2-2-2h-3.17L15%202H9zm3%2015c-2.76%200-5-2.24-5-5s2.24-5%205-5%205%202.24%205%205-2.24%205-5%205z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}

i.icon.icon-plus-sm {
    width: 12px;
    height: 12px;
    background-image: url("../img/plus.svg");
}

i.icon.icon-bin {
    width: 24px;
    height: 24px;
    background-image: url("../img/bin.svg");
}

i.icon.icon-bin-white {
    width: 24px;
    height: 24px;
    background-image: url("../img/bin-white.svg");
}

i.icon.icon-file-text2 {
    width: 24px;
    height: 24px;
    background-image: url("../img/file-text2.svg");
}

i.icon.icon-file-text2-white {
    width: 24px;
    height: 24px;
    background-image: url("../img/file-text2-white.svg");
}

i.icon.icon-barcode {
    width: 24px;
    height: 24px;
    background-image: url("../img/barcode.svg");
}

i.icon.icon-barcode-white {
    width: 24px;
    height: 24px;
    background-image: url("../img/barcode-white.svg");
}


i.icon.icon-price-tag {
    width: 24px;
    height: 24px;
    background-image: url("../img/price-tag.svg");
}

i.icon.icon-price-tag-white {
    width: 24px;
    height: 24px;
    background-image: url("../img/price-tag-white.svg");
}


i.icon.icon-spinner4 {
    width: 24px;
    height: 24px;
    background-image: url("../img/spinner4.svg");
}


i.icon.icon-list2 {
    width: 24px;
    height: 24px;
    background-image: url("../img/list2.svg");
}

i.icon.icon-cloud-upload {
    width: 24px;
    height: 24px;
    background-image: url("../img/cloud-upload.svg");
}

i.icon.icon-cloud-upload-white {
    width: 24px;
    height: 24px;
    background-image: url("../img/cloud-upload-white.svg");
}


i.icon.icon-user {
    width: 24px;
    height: 24px;
    background-image: url("../img/user.svg");
}

i.icon.icon-cross {
    width: 24px;
    height: 24px;
    background-image: url("../img/cross.svg");
}

i.icon.icon-info {
    width: 24px;
    height: 24px;
    background-image: url("../img/info.svg");
}

i.icon.icon-feed {
    width: 24px;
    height: 24px;
    background-image: url("../img/feed.svg");
}

i.icon.icon-cog {
    width: 24px;
    height: 24px;
    background-image: url("../img/cog.svg");
}

i.icon.icon-folder {
    width: 24px;
    height: 24px;
    background-image: url("../img/folder.svg");
}

.chip .chip-media {
    color: #000;
}