
.badge {
    margin: -2px;
}

.speed-dial-buttons {
    margin-left: -28px;
}

.speed-dial-buttons a {
    width:56px;
    height:56px;
}

[v-cloak] {
    display: none;
}

.list-block textarea {
    background-color: rgba(0, 0, 0, .03);
}

.stronghead {
    font-size:20px;
    font-weight: 500;
}

.infocollabel {
    display:inline-block;
    width:7.7em;
    line-height:1.3em;
}

.infoby {
    font-size: 0.75em;
    line-height: 1em;
    margin-top: 2em;
}

.smalllabel {
    font-size: 0.85em;
}

svg {
  fill: currentColor;
}


/* always present */
.expand-transition {
  transition: all .3s ease;
  height: 52px;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}

.layout-white .content-block-title,
.content-block-title {
    text-transform: none;
}

.page-index .layout-white .content-block-title,
.page-index .content-block-title {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: none;
}

#page-medien .chip .chip-media {
    width: auto;
    margin-left: 0px;
}

#page-medien .medien li.list-group-title {
    padding-top:1em;
    padding-bottom:1em;
}

.numnum {
    font-size:1.5em;
    line-height: 1em;
}

.mb-16 {
 margin-bottom: 4em;
}

.mr-8 {
  margin-right: 2em;
}

.ml-8 {
    margin-left: 2em;
}


.dash-inner i.icon.icon-cameraalt-light,
.dash-inner i.icon.icon-videocam-light,
.dash-inner i.icon.icon-mic-light,
.dash-inner i.icon.icon-folder,
.dash-inner i.icon.icon-cloud-upload-white,
.dash-inner i.icon.icon-list2{
    width:48px;
    height:48px;
    color:white;
}


.dash-wrapper {
    /*height: 95%;
    height: calc(100% - 44px);
    */
    padding-top: 2em;
}

.dash-inner {
    margin:0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 100%;
    margin:0 auto;
    max-width: 50vh;
}
.dash-inner >div {
    width:40%;
    padding-bottom:40%;
    margin:2%;
    float:left;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    background-color: teal;
}

.dash-inner > div a {
    position: absolute;
    margin-top:50%;
    color:white;
}